/* css/navbar.css */

/* S'assure que le contenu principal n'est pas caché sous la navbar fixe */
body {
    padding-top: 68px;
}

/* Styles pour la barre de navigation principale fixe */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50; /* Doit être au-dessus de la sub-nav */
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

/* Styles pour le conteneur de la sous-navigation collante */
.sub-nav-sticky {
    position: fixed;
    top: 68px; /* Se positionne juste en dessous de la navbar principale */
    left: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    transform: translateY(-100%); /* Est cachée par défaut en dehors de l'écran */
    transition: transform 0.3s ease-in-out;
    visibility: hidden; /* Améliore la gestion du masquage */
}

/* Classe pour rendre la sous-navigation visible */
.sub-nav-sticky.visible {
    transform: translateY(0);
    visibility: visible;
}

.active-background-slider {
    position: absolute;
    bottom: 0; /* Aligné avec la bordure du bas */
    height: 100%; /* Toute la hauteur du bouton */
    background-color: #FF9800; /* La couleur orange du thème */
    border-radius: 0 0 0 0; /* Coins arrondis en haut */
    z-index: -1; /* Se place derrière le texte des boutons */
    transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), 
                width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


/* Style pour tous les boutons du sous-menu pour une transition douce */
.sub-nav-button {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Style pour le bouton actif dans la sous-navigation */
.sub-nav-button.active {
    border-color: #FF9800 !important; /* Bordure assortie (important pour forcer le style) */
    color: white !important; /* Texte en blanc pour contraster avec le curseur */
    font-weight: 700;
}

/* On s'assure que le survol (hover) ne change pas la couleur du texte du lien actif */
.sub-nav-button.active:hover {
    color: white !important;
}