<section id="accueil" class="bg-white text-gray-800 py-24 px-4 sm:px-6 lg:px-8 flex items-center">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-5 gap-12 items-start">
        
        <!-- Colonne Texte -->
        <div class="text-center md:text-left md:col-span-2">
            <h1 class="text-4xl lg:text-5xl font-extrabold mb-6 leading-tight text-gray-900">
                {{accueil.titre_prefix}} <span class="text-pat-green-principal">{{accueil.titre_highlight}}</span>
            </h1>
            <p class="text-lg text-gray-600 mb-8 leading-relaxed">{{accueil.description}}</p>
            <div class="flex flex-col sm:flex-row gap-4 justify-center">
                <a href="#actions" class="inline-block btn-hero-primary text-white font-bold py-3 px-8 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 transform hover:-translate-y-1 text-base">{{accueil.bouton_secondaire}}</a>
                <a href="#axes" class="inline-block text-pat-green-darker border-2 border-pat-green-darker font-bold py-3 px-8 rounded-lg shadow-lg hover:bg-pat-green-darker hover:text-white transition-all duration-300 transform hover:-translate-y-1 text-base">{{accueil.bouton_primaire}}</a>
            </div>
        </div>

        <!-- Colonne Vidéo -->
        <div class="w-full h-full md:col-span-3">
            <div id="video-container" class="shadow-2xl rounded-xl overflow-hidden h-full">
                <div id="video-facade" class="relative w-full h-full bg-cover bg-center cursor-pointer group" style="background-image: url('{{accueil.video_thumbnail}}');" data-videoid="{{accueil.video_id}}">
                    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40 group-hover:bg-opacity-50 transition-all duration-300">
                        <!-- Bouton Play simple -->
                        <svg class="w-20 h-20 text-white transform group-hover:scale-110 transition-transform duration-300 drop-shadow-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M8 5v14l11-7z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
